version: "3.8"

services:
  app:
    build: .
    container_name: multivendor_ecommerce
    ports:
      - "8080:80"
    depends_on:
      - mysql
    environment:
      DB_CONNECTION=mysql
      DB_HOST=mysql
      DB_PORT=3306
      DB_DATABASE=multivendor_ecommerce
      DB_USERNAME=root
      DB_PASSWORD=root
    volumes:
      - .:/var/www/html

  mysql:
    image: mysql:8.0
    container_name: mysql_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: multivendor_ecommerce
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
